<footer class="bg-neutral-700">
  <div class="container pt-10 sm:pt-13 px-4 xl:px-0 mx-auto space-y-6">
    <div class="w-full lg:w-6/12 text-center lg:text-left">
      <h2 class="text-2xl font-bold text-gray-200">Jobs Aggregator</h2>
      <p class="text-xs text-gray-200">
        Find the job that fits you
      </p>
    </div>
    <nav class="flex flex-col justify-between items-center pb-10 px-4 lg:px-0 sm:flex-row">
      <ul class="flex flex-row space-x-5">
        <li>
          <a href="#" class="text-xs text-gray-200 hover:text-green-600 hover:underline">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="#" class="text-xs text-gray-200 hover:text-green-600 hover:underline">
            Cookie Settings
          </a>
        </li>
        <li>
          <a href="#" class="text-xs text-gray-200 hover:text-green-600 hover:underline">
            Changelog
          </a>
        </li>
      </ul>
      <p class="text-xs text-gray-200 pt-2 sm:pt-0">
        v1.0.0
      </p>
    </nav>
  </div>
</footer>
