<header class="bg-violet-900">
  <div class="container px-4 xl:px-0 py-12 mx-auto">
    <h1 class="font-sans text-4xl sm:text-5xl md:text-6xl font-bold text-white sm:leading-none">
      Jobs Aggregator
    </h1>
    <p class="text-base text-indigo-100 font-thin md:text-4xl md:pb-4">Find the job that fits you</p>
  </div>
</header>
